<form class="" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="mb-3">
        <label for="name" class="form-label">name </label>
        <input type="email" class="form-control" id="name" name="name" ngModel required>
    </div>
    <div class="mb-3">
        <label for="sousTitre" class="form-label">Sous Titre</label>
        <input type="email" class="form-control" id="sousTitre" name="sousTitre" ngModel required>
    </div>
    <div class="mb-3">
        <label for="sousTitre" class="form-label">Etat de l'appareil</label>
        <select class="form-select" id="sousTitre" name="status" [ngModel]="defaultStatut">
            <option value="allumé">allumé</option>
            <option value="eteint">eteint</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" [disabled]="f.invalid">Save</button>
    </div>
</form>